{% extends 'index.html' %}
{% block title %}About Us - BrainBunny{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">About Us</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>Welcome to BrainBunny</h2>
            <p>
                BrainBunny is an exciting web app that brings you the latest and hottest quiz topics in the world of
                technology.
                Sign up now to challenge your knowledge, learn new things, and have fun with our engaging quizzes.
            </p>
        </section>

        <section class="how-it-works">
            <h2>How It Works</h2>
            <p>
                BrainBunny offers a simple and intuitive user interface that allows you to:
            </p>
            <ul>
                <li>Sign up and create your personalized account.</li>
                <li>Choose from a variety of trending quiz topics in the technology domain.</li>
                <li>Participate in time-limited quizzes and answer questions to rank yourself on BrainBunny.</li>
                <li>Track your progress and compete with other tech enthusiasts on the leaderboard.</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}