{% extends 'index.html' %}
{% block title %}Downloads - BrainBunny{% endblock title %}

{% block content %}
<h1 class="display-4 text-center my-5">Downloads</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <div class="download-item mb-4">
            <h2 class="">Research Paper 1</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio facere accusantium rem
                explicabo eos molestias enim itaque, quis nam.</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Reports</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio facere accusantium rem
                explicabo eos molestias enim itaque, quis nam.</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>Research Paper 1</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio facere accusantium rem
                explicabo eos molestias enim itaque, quis nam.</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
    </div>
</main>

{% endblock content %}