{% extends 'index.html' %}

{% block title %}@{{user_profile2.user.username}}'s Profile - BrainBunny{% endblock title %}

{% block content %}

    <h1 class="display-4 text-center my-5">@{{user_profile2.user.username}}'s Profile</h1>
    <div class="container text-center">
        {% if request.user.username == user_profile2.user.username %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'edit_profile' %}" type="button" class="btn btn-outline-primary">Edit</a>
            <a href="{% url 'delete_profile' %}" type="button" class="btn btn-outline-danger">Delete</a>
        </div>
        {% endif %}

        <div class="container text-center my-4">
            <div class="row row-cols-sm-1 row-cols-md-2">
                <div class="col-12">
                    <img src="{{user_profile2.profile_img.url}}" alt="user-profile" class="rounded-circle" width="150" height="150">
                    <h2 class="fs-3">@{{user_profile2.user.username}}</h2>
                </div>
                <div class="col-12">
                    <h2>{{user_profile2.user.first_name|default:"Full name not available"}} {{user_profile2.user.last_name}}</h2>
                    <p class="fs-5"><i class="bi bi-gender-ambiguous"></i> {{user_profile2.gender|default:'Gender Not Available'}}</p>
                    <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{user_profile2.location|default:'Location Not Available'}}</p>
                    <p class="fs-5"><i class="bi bi-file-person"></i> {{user_profile2.bio|default:'Bio Not Available'}}</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="container">
            <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                <div class="col-12">
                    <h3>Quiz attended by @{{user_profile2.user.username}}</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Quiz</th>
                                <th scope="col">Marks</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Newton's Law</td>
                                <td>9/10</td>
                                <td>2 weeks ago</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Newton's Law</td>
                                <td>9/10</td>
                                <td>2 weeks ago</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Newton's Law</td>
                                <td>9/10</td>
                                <td>3 weeks ago</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <h3>@{{user_profile2.user.username}}'s performance</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}