{% extends 'index.html' %}

{% block title %}{{quiz.title}} - BrainBunny{% endblock title %}

{% block content %}

    <h1 class="display-4 text-center my-5">{{quiz.title}} - ({{quiz.question_set.all|length}})</h1>
    <p class="fs-4 text-center container">{{quiz.description}}</p>

    <div class="container">
        <div class="d-flex justify-content-between">
            <span class="fs-5">{{quiz.created_at}}</span>
            <span class="fs-5" id="timer">10:00</span>
        </div>

        {% for message in messages %}
        <div id="message-div">
            <h4 class="text-center text-success">{{message}}</h4>
        </div>
        {% endfor %}


        <div class="questions my-4">
            {% for question in quiz.question_set.all %}
            <div class="card mb-2 question">
                <div class="card-header fw-bold">
                    Question {{forloop.counter}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{question.text}}</p>
                    {% for option in question.choice_set.all %}
                    <div class="form-check">
                        <label class="form-check-label" for="{{option.id}}">
                            <input class="form-check-input" value="{{option.text}}" type="radio" name="{{option.question.id}}" id="{{option.id}}">
                            {{option.text}}
                        </label>
                        {% if option.is_correct %}
                        <span class="visually-hidden correct-answer">{{option.text}}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <form action="" method="post" id="quiz-form">
            {% csrf_token %}
            <!-- hidden input field for score -->
            <input type="hidden" name="score" value="0" id="user-score">

            <!-- submit button -->
            <button type="submit" class="btn btn-primary" id="submit-button">Submit the quiz</button>
        </form>

    </div>

<script>
    // Elements
    var submitButton = document.getElementById("submit-button");
    var timerSpan = document.getElementById("timer");
    var quizForm = document.getElementById("quiz-form");
    var questions = document.querySelectorAll(".question");
    var userScoreInput = document.getElementById("user-score");

    quizDuration = (questions.length) * 60; // convert in seconds
    
    // Update Timer
    function updateTimer() {
        var minutes = Math.floor(quizDuration / 60);
        var seconds = quizDuration % 60;

        timerSpan.innerText = minutes + "m" + seconds + 's';

        // Check if the time ended
        if (quizDuration <= 0) {
            // Automatically Submit the quiz
            clearTimeout(quizTimerId);
            submitQuiz();
        } else if (document.getElementById("message-div")) {
            clearTimeout(quizTimerId);
            highlightCorrectAnswers();
        } else {
            // decrement the timer value by 1s
            quizDuration--;
        }
    }

    // Function to submit the quiz
    function submitQuiz() {
        // Calculate the score
        calculateScore();

        // Submit the quiz
        quizForm.submit();
    }

    // Check right answer and then calculate the score
    function calculateScore() {
        var score = 0;

        // Loop through each question
        questions.forEach(question => {
            var selectedInput = question.querySelector('input:checked');
            var correctAnswer = question.querySelector(".correct-answer").innerText;

            // Check if the answer is correct or not
            if (selectedInput && selectedInput.value === correctAnswer) {
                score += 1;
            }
        });

        // Update the hidden input field with score in form
        userScoreInput.value = score;
    }

    // highlight correct answer while showing result
    function highlightCorrectAnswers() {
        questions.forEach(question => {
            var correctAnswer = question.querySelector(".correct-answer");
            correctAnswer.previousElementSibling.querySelector("input").classList.add("bg-success");
            correctAnswer.previousElementSibling.classList.add("fw-bold");
        });

        // disable submit button
        submitButton.disabled = true;

        // disabel all options
        var options = document.querySelectorAll(".form-check-input");
        options.forEach(option => {
            option.disabled = true;
        });
    }

    // Attach Event Listener to Submit button
    submitButton.addEventListener("click", submitQuiz);

    // Timer Interval
    quizTimerId = setInterval(updateTimer, 1000);
</script>


{% endblock content %}