<div class="container text-center my-2 d-sm-block d-lg-none">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="{% url 'home' %}" class="btn btn-outline-primary"><i class="bi bi-house-door"></i></a>
        <a href="{% url 'all_quiz' %}" class="btn btn-outline-primary">Quiz</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'dashboard' %}" class="btn btn-outline-primary text-success">Dashboard</a>
        {% endif %}
        <a href="{% url 'leaderboard' %}" class="btn btn-outline-primary">Leaderboard</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' request.user.username %}" class="btn btn-outline-primary">
            <img src="{{request.user.profile.profile_img.url}}" class="rounded-circle" width="25" height="25" alt="profile_img">
        </a>
        <a href="{% url 'logout' %}" class="btn btn-outline-primary"><i class="bi bi-box-arrow-left"></i></a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-primary"><i class="bi bi-box-arrow-right"></i></a>
        {% endif %}
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">BrainBunny</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all_quiz' %}">Quiz</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'blogs' %}">Blogs</a></li>
                        <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'downloads' %}">Downloads</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{% url 'search_users' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' request.user.username %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@{{request.user.username}}" class="mx-2">
                    <img src="{{request.user.profile.profile_img.url}}" class="rounded-circle" width="40" height="40" alt="profile_img">
                </a>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary ms-2">Login</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>